## ICE 2

**Author**: Nicolas Dussaillant

**Instructor**: Dr. Lukas Liu

**Course**: HUDK4051 - Learning Analytics - Teachers College, Columbia University

## Work: Natural Language Processing

In [27]:
import pandas as pd
import numpy as np
Eval = pd.read_csv("ICE2_data_eval.csv")
Eval.head()

,teaching,teaching_comment,coursecontent,coursecontent_comment,examination,examination_comment,labwork,labwork_comment,library_facilities,library_facilities_comment,extracurricular,extracurricular_comment
0,0,teacher are punctual but they should also give...,0,content of courses are average,1,examination pattern is good,-1,"not satisfactory, lab work must include latest...",0,library facilities are good but number of book...,1,extracurricular activities are excellent and p...
1,1,Good,-1,Not good,1,Good,1,Good,-1,Not good,1,Good
2,1,Excellent lectures are delivered by teachers a...,1,All courses material provide very good knowled...,1,Exam pattern is up to the mark and the Cgpa de...,1,Lab work is properly covered in the labs by th...,1,Library facilities are excellent in terms of g...,1,Extra curricular activities also help students...
3,1,Good,-1,Content of course is perfectly in line with th...,-1,Again the university tests students of their a...,1,Good,0,Its the best thing i have seen in this univers...,-1,Complete wastage of time. Again this opinion i...
4,1,teachers give us all the information required ...,1,content of courses improves my knowledge,1,examination pattern is good,1,practical work provides detail knowledge of th...,1,library has huge collection of books from diff...,1,extracurricular activities increases mental an...

In [35]:
# Organize comments
Eval["id"] = Eval.index + 1
eval1 = pd.melt(Eval,
                    id_vars = "id",
                    value_vars=["teaching_comment", "coursecontent_comment", "examination_comment", 
                                "labwork_comment", "library_facilities_comment", "extracurricular_comment"],
                    var_name="category_comment",
                    value_name="comment")
eval2 = pd.melt(Eval, 
                    id_vars = "id",
                    value_vars=["teaching", "coursecontent", "examination", 
                                "labwork", "library_facilities", "extracurricular"],
                    var_name="category",
                    value_name="eval")
eval3 = eval1.merge(eval2, on="id")
evalClean = eval3[["eval", "comment", "category"]]
evalClean

,eval,comment,category
0,0,teacher are punctual but they should also give...,teaching
1,0,teacher are punctual but they should also give...,coursecontent
2,1,teacher are punctual but they should also give...,examination
3,-1,teacher are punctual but they should also give...,labwork
4,0,teacher are punctual but they should also give...,library_facilities
...,...,...,...
6655,-1,IT IS THE BEST THING IN THIS UNIVERSITY I LIKE IT,coursecontent
6656,0,IT IS THE BEST THING IN THIS UNIVERSITY I LIKE IT,examination
6657,1,IT IS THE BEST THING IN THIS UNIVERSITY I LIKE IT,labwork
6658,-1,IT IS THE BEST THING IN THIS UNIVERSITY I LIKE IT,library_facilities
6659,1,IT IS THE BEST THING IN THIS UNIVERSITY I LIKE IT,extracurricular

Clean text

In [44]:
import re
import string
def clean_text(text):
    #Make text lowercase, remove punctuations, and remove numbers
    text = text.lower()
    text = re.sub(f'[{re.escape(string.punctuation)}]', '', text)
    text = re.sub('[0-9]+','', text)
    return text

In [46]:
evalClean['comment'] = evalClean['comment'].map(clean_text)
evalClean

/var/folders/lc/stkk_5mx3gq9ypk8pz7l_74w0000gn/T/ipykernel_3457/3802524510.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  evalClean['comment'] = evalClean['comment'].map(clean_text)

,eval,comment,category
0,0,teacher are punctual but they should also give...,teaching
1,0,teacher are punctual but they should also give...,coursecontent
2,1,teacher are punctual but they should also give...,examination
3,-1,teacher are punctual but they should also give...,labwork
4,0,teacher are punctual but they should also give...,library_facilities
...,...,...,...
6655,-1,it is the best thing in this university i like it,coursecontent
6656,0,it is the best thing in this university i like it,examination
6657,1,it is the best thing in this university i like it,labwork
6658,-1,it is the best thing in this university i like it,library_facilities
6659,1,it is the best thing in this university i like it,extracurricular

### Organize Data

In [47]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(stop_words='english')

commentCV = cv.fit_transform(evalClean['comment'])
commentCV_dtm = pd.DataFrame(commentCV.toarray(), columns = cv.get_feature_names())

commentCV_dtm.index = evalClean['comment'].index
commentCV_dtm

/Users/ndussaillant/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,abilities,ability,able,abroad,absolutely,absurd,abt,academic,accessable,accitivties,...,works,world,worth,write,writing,wrong,yeah,year,years,yes
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6655,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6656,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6657,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6658,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6659,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Exploratory Analysis

In [48]:
evalClean.groupby(['eval','category']).count().unstack()

               comment                                                         \
category coursecontent examination extracurricular labwork library_facilities
eval
-1                 180         144              72     222                186
 0                 162         186             114      96                144
 1                 768         780             924     792                780


category teaching
eval
-1             78
 0            210
 1            822

In [49]:
totalCT = commentCV_dtm.sum()
commentCV_dtm[totalCT.sort_values(ascending = False).index[:20]].sum()

good          3924
excellent      444
students       372
university     366
library        288
books          282
course         258
pattern        240
lab            234
teachers       234
activities     222
knowledge      216
time           192
content        186
teaching       186
paper          180
checking       180
work           180
average        174
exam           174
dtype: int64

### Topic Modeling: 3 topics

In [51]:
from gensim import matutils, models
import scipy.sparse

tdm = commentCV_dtm.transpose()
sparse_counts = scipy.sparse.csr_matrix(tdm)
corpus = matutils.Sparse2Corpus(sparse_counts)
id2word = dict((v, p) for p, v in cv.vocabulary_.items())

lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=3, passes=20)
lda.print_topics()

/Users/ndussaillant/opt/anaconda3/lib/python3.8/site-packages/gensim/similarities/__init__.py:15: UserWarning: The gensim.similarities.levenshtein submodule is disabled, because the optional Levenshtein package <https://pypi.org/project/python-Levenshtein/> is unavailable. Install Levenhstein (e.g. `pip install python-Levenshtein`) to suppress this warning.
  warnings.warn(msg)

[(0,
  '0.479*"good" + 0.039*"library" + 0.037*"books" + 0.018*"facilities" + 0.018*"courses" + 0.014*"course" + 0.013*"available" + 0.011*"quite" + 0.011*"like" + 0.010*"number"'),
 (1,
  '0.034*"students" + 0.025*"paper" + 0.025*"pattern" + 0.021*"checking" + 0.020*"course" + 0.020*"university" + 0.019*"teaching" + 0.018*"marks" + 0.018*"exam" + 0.016*"delivery"'),
 (2,
  '0.051*"excellent" + 0.034*"lab" + 0.033*"knowledge" + 0.031*"university" + 0.029*"activities" + 0.026*"practical" + 0.021*"work" + 0.020*"labs" + 0.018*"average" + 0.017*"teachers"')]

### Text Classifiers

In [52]:
from sklearn.model_selection import train_test_split

Xs_docs = evalClean['comment']
Ys_evals = evalClean['eval']
xs_training, xs_test, y_training, y_test = train_test_split(Xs_docs, Ys_evals, test_size = 0.2)

from sklearn.naive_bayes import MultinomialNB

# Prepare the training features
cv = CountVectorizer(stop_words='english')
features = cv.fit_transform(xs_training)

# Train a multinomial Naive Bayes Model
model = MultinomialNB()
model.fit(features, y_training)

# Prepare the testing xs.
# Here we are using transform and fit_transform to standardize the data.
# Read about the differences here: https://towardsdatascience.com/what-and-why-behind-fit-transform-vs-transform-in-scikit-learn-78f915cf96fe
feature_test = cv.transform(xs_test)

# Print the model accuracy
print(model.score(feature_test,y_test))

0.710960960960961

In [53]:
from sklearn import svm

# Prepare the training features
cv = CountVectorizer(stop_words='english')
features = cv.fit_transform(xs_training)

# Train SVM classifier
model = svm.SVC()
model.fit(features, y_training)

# Prepare the testing xs
feature_test = cv.transform(xs_test)

# Print the model accuracy
print(model.score(feature_test,y_test))

0.722972972972973